ALTCHA_HMAC_KEY=your_secret_hmac_key_here
ALTCHA_HMAC_KEY_SECRET=
HOST=0.0.0.0
PORT=3000
ALTCHA_COST=5000
MAX_NUMBER=5000
ALTCHA_ALGORITHM=PBKDF2/SHA-256
EXPIRES_IN=300
CORS_ORIGIN=*
TRUST_PROXY=1
REDIS_URL=redis://redis:6379
REDIS_RETRY_ATTEMPTS=5
REDIS_RETRY_DELAY_MS=2000