<!--begin::Footer-->
<footer class="app-footer text-secondary" style="font-size: 0.78rem; padding: 10px 16px;">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline" style="font-size: 0.78rem;">
    <span>App Version <span data-setting="app_version">1.0.0</span></span> <span class="text-secondary opacity-50 mx-1">|</span> <span>altcha-lib v<span data-setting="altcha_lib_version">2.5.0</span></span>
  </div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <span style="font-size: 0.78rem;">
    Copyright &copy; 2026&nbsp;
    <a href="https://altcha.org" target="_blank" class="text-decoration-none" data-setting="app_name" style="font-size: 0.78rem;">ALTCHA Manager</a>.
  </span>
  All rights reserved.
  <!--end::Copyright-->
</footer>
<!--end::Footer-->
